body {
  background: url(../img/bg2.jpg) no-repeat center center fixed;
  background-color: #fff;
  background-size: cover;
}

#header {
  padding-top: 50px;
}

img#beta-logo {
  width: 60px;
}

img#beta-tagline {
  width: 275px;
}

#header-col {
  padding-top: 35px;
  padding-bottom: 35px;
  background: #5eb0e7;
  opacity: .9;
}

#header-col h4 {
  width: 70%;
  margin-left: 15%;
  font-size: 20px;
  font-weight: 300;
}

button#learn-btn {
  border-radius: 1px;
  font-size: 12px;
  background-image: linear-gradient(to bottom, #4B92C0 0%, #427FA9 100%);
}

button#learn-btn {
  margin-top: 10px;
  margin-bottom: -10px;
  height: 30px;
  width: 100px;
}

#beta h1, #beta h4 {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 10px;
  color: #FCFCFC;
  font-weight: 300;
}

#coundownt-col p {
  font-size: 10px; 
}

#register-form p.title, #countdown-col p.title {
  overflow: hidden;
  text-align: center;
  color: #a3a3a3;
}

ul#counter li h2 {
  margin-top: -2px;
}

ul#counter li p {
  margin-top: -8px;
  font-size: 11px;
}

input#name, input#email {
  padding-left: 13px;
}

input#name::-webkit-input-placeholder, input#email::-webkit-input-placeholder {
  color: #a3a3a3;
  font-size: 11px;
  padding-top: 3px;
}

p.title, #days, #hours, #minutes, #seconds{
  font-size: 14px;
  color: #fff;
}
#countdown-col, #register-form, #footer {
  background: #fff;
  opacity: .9;
}
p.title.launching-in, p.title.sign-up {
  font-size: 11px;
}

#countdown-col {
  padding-top: 50px;
  padding-bottom: 40px;
}

ul#counter {
  padding-left: 0;
}

ul#counter li {
  display: inline-block;
  background: #5eb0e7;
  padding-top: 10px;
  border-radius: 1px;
  height: 70px;
  width: 70px;
}

#register-form {
  padding-bottom: 100px;
}

p.title.footer {
  position:absolute;
  bottom:0;
  width:100%;
  font-size: 11px;
}

input#name, input#email {
  background-color:rgba(0,0,0,0) !important;
  border-radius: 2px;
  border: 1px solid #5eb0e7;
  color: #000;
  height: 35px;
}

.form-group {
  margin-bottom: 8px;
}

button#register-btn {
  background-image: #38709a;
  border-radius: 1.5px;
  font-size: 11px;
  width: 60%;
}

button#register-btn:active, button#learn-btn:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}


input#name, input#email {
  height: 30px;
  width: 60%;
}

#footer {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  display: block;
}

#sign-up {
  padding-left: 0;
}

h3.modal-message {
  color: #5eb0e7;
}

.modal-title img {
  margin-left: 40%;
}

.modal-btn {
  float: right;
}

.modal-footer {
  text-align: center;
}

#beta-footer {
  margin-bottom: 10px;
  padding-top: 40px;
}

#beta-footer a {
  bottom: 0;
  background: transparent;
}

#beta-footer i {
  background: #5eb0e7;
  opacity: .9;
  color: #fff;
  height: 40px;
  width: 40px;
  padding-left: 7px;
  padding-top: 7px;
  border-radius: 50%;
}


