body {
  background-image: url(../img/bg.jpg);
  color: #fff;
}

h1 {
  color: #fff;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  padding-bottom: 10px;
}

p {
  font-size: 10px;
  padding-bottom: 25px;
}

p.title {
  font-size: 10px;
}

li p {
  font-size: 11px;
  margin-top: -30px;
}

ul#counter {
  margin-top: -45px;
  padding-left: 0px;
}
ul#counter li {
  display: inline-block;
  padding: 20px;
}

input#name, input#email {
  background-color:rgba(0,0,0,0) !important;
  border-radius: 1.5px;
  border: 1px solid #77858B;
}

button#register-btn, button#learn-btn {
  border-radius: 1px;
  font-size: 12px;
}

button#learn-btn {
  height: 35px;
  width: 100px;
}

#header {
  margin-top: 90px;
}

#countdown {
  padding-top: 75px;
  min-height: 245px;
}

.form-control {
  height: 50px;
}

#footer {
	margin-top: 100px;
  padding: 50px 0;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  position: relative;
  display: block;
  z-index: 5;
}

#sign-up {
  margin-top: -30px;
  padding-left: 0;
}

@media (max-width: 768px) {
  #sign-up {
    padding-left: 15px;
  }
}

p.title {
    overflow: hidden;
    text-align: center;
    
}
p.title.launching-in:before,
p.title.launching-in:after {
    background-color: #647278;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 27%;
}
p.title:before {
    right: 1.5em;
    margin-left: -50%;
}
p.title:after {
    left: 1.5em;
    margin-right: -50%;
}

p.title.sign-up:before,
p.title.sign-up:after {
    background-color: #647278;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 26%;
}