body {
  background: url(../img/bg2.jpg) no-repeat center center fixed;
  color: #fff;
  background-size: cover;
}

h1, h3 {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 10px;
  color: #FCFCFC;
  font-weight: 300;
}

h4 {
  color: #4A8FBC;
  text-shadow: 0px 1px #012;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
} 

p {
  font-size: 10px;
  
}

 p.title{
  overflow: hidden;
  text-align: center;
  color: #a3a3a3;
}

li p {
  font-size: 11px;
  
}

p.title, #hours, #minutes, #seconds{
  font-size: 14px;
}
#countdown-col, #register-form {
  background: #fff;
}

#header-col {
  background: #5eb0e7;
}

ul#counter {
  padding-left: 0px;
}
ul#counter li {
  display: inline-block;
  background: #5eb0e7;
}

input#name, input#email {
  background-color:rgba(0,0,0,0) !important;
  border-radius: 1.5px;
  border: 1px solid #77858B;
  color: #F2F3F5;
}

.form-control::-webkit-input-placeholder {
  color: #F2F3F5;
  font-size: 12px;
}

button#register-btn, button#learn-btn {
  border-radius: 1px;
  font-size: 12px;
  background-image: linear-gradient(to bottom, #4B92C0 0%, #427FA9 100%);
}

button#register-btn:active, button#learn-btn:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}

button#learn-btn {
  height: 30px;
  width: 100px;
}


.form-control {
  height: 50px;
}

#footer {
	margin-top: 50px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  display: block;
}

#sign-up {
  
  padding-left: 0;
}

@media (max-width: 768px) {
  #sign-up {
    padding-left: 15px;
  }
}

