body {
	background: #fff;
}

#team-nav {
	padding: 15px
}

#team-header {
	background: url('../img/team.jpg');
	height: 600px;
}

#team-header h4 {
	margin-top: 20%;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}

#team-header h1 {
	color: #fff;
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 50px;
	font-family: proxima-nova-alt,Helvetica,Arial,sans-serif;
	font-weight: 800;
	display: block;
}

#team-about {
	padding-top: 40px;
}

#team-contact-col {
	border: 3px solid #969696;
	border-radius: 6px;
}

#team-contact-col h5 {
	color: #d8765d;
	text-transform: uppercase;
}

#team-contact-col p {
	color: #969696;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Nunito', sans-serif;
}

#team-section {
	padding-top: 50px;
}

ul#team-images li {
	display: inline-block;
}

#team-about-col p strong {
	font-size: 24px;
	font-family: 'Pontano Sans', sans-serif;
	line-height: 33px;
	color: #383a3d;
}

#team-about-col p {
	font-size: 20px;
	color: #969696;
	line-height: 27px;
	padding-bottom: 20px;
}

#team-about-col li {
	font-size: 20px;
	line-height: 48px;
	color: #969696;
  text-align: -webkit-match-parent;
}